name: build
on:
  workflow_dispatch:
    inputs:
      version:
        default: 6.17.0
        type: string

permissions:
  contents: write

jobs:
  build:
    name: build
    runs-on: windows-2025
    defaults:
      run:
        shell: msys2 {0}

    steps:
      - name: Set up MinGW
        uses: msys2/setup-msys2@v2
        with:
          update: true
          msystem: MINGW32
          install: >-
            base-devel
            mingw-w64-i686-toolchain
            mingw-w64-i686-python
            mingw-w64-i686-python-pip

      - name: Prepare environment
        run: python -m pip install --upgrade pip hatchling

      - name: Checkout for Vista
        uses: actions/checkout@v4
        with:
          repository: pyinstaller/pyinstaller
          ref: v${{ inputs.version }}
          path: vista

      - name: Build for Vista
        run: |
          cd vista/bootloader
          CFLAGS=-DPSAPI_VERSION=1 LDFLAGS=-lpsapi python waf all --target-arch=32bit --gcc
          cd ..
          # Set "vista" package version suffix
          sed -ri "s/^(__version__ = '.+)'/\1+vista'/" PyInstaller/__init__.py
          python -m hatchling build

      - name: Checkout for XP
        uses: actions/checkout@v4
        with:
          repository: 3dyd/pyinstaller
          ref: ${{ inputs.version }}-xp
          path: xp

      - name: Build for XP
        run: |
          cd xp/bootloader
          python waf all --target-arch=32bit --gcc
          cd ..
          python -m hatchling build

      - name: Create release
        uses: ncipollo/release-action@v1
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          allowUpdates: true
          tag: latest
          name: Build
          draft: false
          prerelease: true
          replacesArtifacts: true
          artifacts: "./vista/dist/*,./xp/dist/*"
